<footer class="fixed_footer">
    <div>
        <a href="/album/index.html">
            <img class="first__img_footer" src="/assets/images/_ionicons_svg_ios-pulse.svg" alt="pulse image">
        </a>


        <a href="/playlist/index.html">
            <img class="second__img_footer" src="/assets/images/_ionicons_svg_ios-microphone.svg"
                alt="microphone image">
        </a>

        <a href="/index.html">
            <img class="third__img_footer" src="/assets/images/_ionicons_svg_md-wifi.svg" alt="wifi image">
        </a>


        <img class="changeTheme " src="/assets/images/_ionicons_svg_ios-contrast.svg" alt="Farve Tema">

        <img src="/assets/images/Path 343.svg" alt="cogwheel image">

    </div>
</footer>