<% include ../partials/head %>

<div class="theme-switch-wrapper">
    <header class="flex_top">
        <img src="/assets/images/_ionicons_svg_ios-arrow-back.svg" alt="/assets images arrow back">
        <h3>featured</h3>
        <img src="/assets/images/_ionicons_svg_ios-search.svg" alt="search button">
    </header>

    <body>
        <h1 class="transparant__h1_text">featured</h1>


        <div class="">
            <div>
                <img class="center_image" src="/assets/images/pexels-photo-1816943.svg" alt="the greatest showman">
                <h3 class="absolute_text">The greatest showman</h3>
                <p class="text__in_box">soundtrack</p>

            </div>


            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
            </label>

        </div>

        <img src="/assets/images/pexels-photo-1435457.svg" alt="creepy billede">
    </body>

    <% include ../partials/nav %>
    <% include ../partials/after-footer %>